body{
    background-image: url("../components/images/pink-background.png");
    color: white;
    margin: 0px;
    padding: 0px;
    font-family: poppinsregular;
}

#container{
    margin-left: 50px;

}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1200px;
}

#title{
    color: rgb(255, 182, 193);
    line-height: 5px;
    text-shadow: black 0.1em 0.1em 0.2em;
}

a{
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(255, 182, 193);
}

a:hover{
    color: rgb(151, 209, 228);
    text-shadow: black 0.1em 0.1em 0.2em;
}

li{
    display: inline-block;
    margin: 20px;
}

main{
    display: flex;
    flex-direction: row;
}

p{
    font-family: poppinsmedium;
    color: black;
    line-height: 10px;
}

h2{
    color: rgb(151, 209, 228);
    font-family: poppinsmedium;
    font-size: 44pt;
    line-height: 15px;
    text-shadow: black 0.1em 0.1em 0.2em;
}

span{
    color:rgb(255, 182, 193);
}

forms{
    display: flex;
    flex-direction: column;
    width: 70%;
    border: 1px solid black;
    border-radius: 10px;
    padding: 8px;
    background-color: rgb(255, 182, 193);
}

label{
    color: black;
    font-family: poppinsmedium;
    margin-top: 8px;

}

input{
    padding: 5px;
    height: 15px;
    font-family: poppinsmedium;
    color: black;
    border-radius: 5px;
    /*outline: none --tirar a corzinha de preenchimento;
	border: none; --tirar a borda*/
}

input:focus{
    border: 5px solid rgb(151, 209, 228);
}

button{
    margin-top: 8px;
    border-radius: 5px;
    background-color: rgb(151, 209, 228);
    font-family: poppinsmedium;
}

button:hover{
    background-color: rgb(255, 182, 193);
}

img{
    width: 500px;
    height: auto;

}

footer{
    text-align: center;
    width: 100%;
    background-color: rgb(255, 182, 193);
    color: black;
}